version: '2'

services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - './data:/var/lib/postgresql'
    ports:
      - '5432:5432'
  api:
    build:
      context: .
      args:
        - RAILS_ENV=$RAILS_ENV
        - RAILS_PORT=3000
        - POSTGRES_HOST=db
    ports:
      - '3000:3000'
    volumes:
      - './app:/home/api/app'
      - './config:/home/api/config'
      - './lib:/home/api/lib'
      - './Gemfile:/home/api/Gemfile'
      - './db:/home/api/db'
      - './doc:/home/api/doc'
      - './spec:/home/api/spec'
      - './entrypoint.sh:/home/api/entrypoint.sh'
      - './storage:/home/api/storage'
    depends_on:
     - db